<!DOCTYPE html>
{%extends 'core/base.html' %}
{% load static %}
{% block content %}

<div style="background-color: #f3f3f3;" class="table-responsive-sm table-bordered">
    <table class="table table-borderless table table-striped table-hover table-responsive-stack">
        {% if object_list %}
        <thead class="text-center">
          <tr>
            <th scope="col">Pos</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col"><a class="episode-link" href="{% url 'episode1' %}">E1</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode2' %}">E2</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode3' %}">E3</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode4' %}">E4</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode5' %}">E5</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode6' %}">E6</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode7' %}">E7</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode8' %}">E8</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode9' %}">E9</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode10' %}">E10</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode11' %}">E11</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode12' %}">E12</a>
            <th scope="col">Total</th>
            {% if user.is_superuser %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="text-center">
          {% for player in player_list %}
            <tr>
              {% if forloop.counter == 1 and page_obj.number == 1 %}
              <th class="text-success"><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</th>
              {% elif forloop.counter < 10 and page_obj.number == 1 %}
              <th class="text-success">{{ forloop.counter }}</th>
              {% else %}
              <td class="text-danger">{{ forloop.counter }}</td>
              {% endif %}
              <td>{{ player.name }}</td>
              <td><img class="rounded-circle player-img" src="{{ player.image.url }}" style="height: 35px; width: 35px;" /></a></td>
              <td>{{ player.E1 }}</td>
              <td>{{ player.E2 }}</td>
              <td>{{ player.E3 }}</td>
              <td>{{ player.E4 }}</td>
              <td>{{ player.E5 }}</td>
              <td>{{ player.E6 }}</td>
              <td>{{ player.E7 }}</td>
              <td>{{ player.E8 }}</td>
              <td>{{ player.E9 }}</td>
              <td>{{ player.E10 }}</td>
              <td>{{ player.E11 }}</td>
              <td>{{ player.E12 }}</td>
              <td>{{ player.total }}</td>
              {% if user.is_superuser %}
                <td class="text-center">
                    <a href="{% url 'dashboard' player.id %}"
                        ><i class="fas fa-edit" style="color: #000000;"></i
                    ></a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% else %}
<p><b>No data are available</b></p>
{% endif %}



<!--BOOKS LIST END -->
<!--PAGINATION START -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
            href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
    </span>
</div>
<!--PAGINATION END -->
{% endblock content %}