<!DOCTYPE html>
{%extends 'core/base.html' %}
{% load static %}
{% block content %}

<div style="background-color: #f3f3f3;" class="table-responsive-sm table-bordered">
    <table class="table table-borderless table-striped table-hover table-responsive-stack">
        {% if object_list %}
        <thead class="text-center">
          <tr>
            <th scope="col">Pos</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col"><a class="episode-link" href="{% url 'episode1' %}">E1</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode2' %}">E2</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode3' %}">E3</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode4' %}">E4</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode5' %}">E5</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode6' %}">E6</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode7' %}">E7</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode8' %}">E8</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode9' %}">E9</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode10' %}">E10</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode11' %}">E11</a>
            <th scope="col"><a class="episode-link" href="{% url 'episode12' %}">E12</a>
            <th scope="col">Total</th>
            {% if user.is_superuser %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="text-center">
          {% for player in player_list %}
            <tr>
              {% if forloop.counter == 1 and page_obj.number == 1 %}
              <th class="text-warning"><i class="fas fa-trophy" style="color: gold;"></i>{{ page_obj.start_index|add:forloop.counter0 }}</th>
              {% elif forloop.counter < 4 and page_obj.number == 1 %}
              <th class="text-warning">{{ page_obj.start_index|add:forloop.counter0 }}</th>
              {% elif forloop.counter < 10 and page_obj.number == 1 %}
              <th class="text-success">{{ page_obj.start_index|add:forloop.counter0 }}</th>
              {% else %}
              <td class="text-danger">{{ page_obj.start_index|add:forloop.counter0 }}</td>
              {% endif %}
              <td>{{ player.name }}</td>
              <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                       style="height: 40px; width: 40px;" alt="Player image"/></td>
              {% if player.total_e1 == 0 %}
              <td>-</td>
              {% elif player.E1_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e1 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e1 }}</td>
              {% endif %}
              {% if player.total_e2 == 0 %}
              <td>-</td>
              {% elif player.E2_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e2 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e2 }}</td>
              {% endif %}
              {% if player.total_e3 == 0 %}
              <td>-</td>
              {% elif player.E3_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e3 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e3 }}</td>
              {% endif %}
              {% if player.total_e4 == 0 %}
              <td>-</td>
              {% elif player.E4_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e4 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e4 }}</td>
              {% endif %}
              {% if player.total_e5 == 0 %}
              <td>-</td>
              {% elif player.E5_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e5 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e5 }}</td>
              {% endif %}
              {% if player.total_e6 == 0 %}
              <td>-</td>
              {% elif player.E6_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e6 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e6 }}</td>
              {% endif %}
              {% if player.total_e7 == 0 %}
              <td>-</td>
              {% elif player.E7_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e6 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e7 }}</td>
              {% endif %}
              {% if player.total_e8 == 0 %}
              <td>-</td>
              {% elif player.E8_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e8 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e8 }}</td>
              {% endif %}
              {% if player.total_e9 == 0 %}
              <td>-</td>
              {% elif player.E9_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e9 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e9 }}</td>
              {% endif %}
              {% if player.total_e10 == 0 %}
              <td>-</td>
              {% elif player.E10_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e10 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e10 }}</td>
              {% endif %}
              {% if player.total_e11 == 0 %}
              <td>-</td>
              {% elif player.E11_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e11 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e11 }}</td>
              {% endif %}
              {% if player.total_e12 == 0 %}
              <td>-</td>
              {% elif player.E12_JOCKER %}
              <td class="table-warning"><div>{{ player.total_e12 }}</div><img
                      class="rounded-circle player-img" src="{{ player.jocker_image.url }}"
                      style="height: 30px; width: 30px;" alt="Jocker image"/></td>
              {% else %}
              <td>{{ player.total_e12 }}</td>
              {% endif %}
              <th>{{ player.total }}</th>
              {% if user.is_superuser %}
                <td class="text-center">
                    <a href="{% url 'dashboard' player.id %}"
                        ><i class="fas fa-edit" style="color: #000000;"></i
                    ></a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% else %}
<p><b>No data are available</b></p>
{% endif %}
<!--PLAYERS LIST END -->
<!--PAGINATION START -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
            href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
    </span>
</div>
<!--PAGINATION END -->
{% endblock content %}