<!DOCTYPE html>
{%extends 'core/base.html' %}
{% load static %}


{% block content %}
<title> Turniej </title>
<h1> Turniej </h1>

<div class="table-responsive-sm table-bordered">
    <table class="table table-striped table-hover">
        <thead>
            {% if object_list %}
            <tr>
                <th scope="col">Miejsce</th>
                <th scope="col">Nick</th>
                <th scope="col">S1E1</th>
                <th scope="col">S1E2</th>
                <th scope="col">S1E3</th>
                <th scope="col">S1E4</th>
                <th scope="col">S1E5</th>
                <th scope="col">S1E6</th>
                <th scope="col">S1E7</th>
                <th scope="col">S1E8</th>
                <th scope="col">S1E9</th>
                <th scope="col">S1E10</th>
                <th scope="col">S1E11</th>
                <th scope="col">S1E12</th>
                <th scope="col">Suma</th>
            </tr>
        </thead>
        <tbody>
            {% for unique in only_unique %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ unique.name }}</td>
                <td>{{ unique.totalpoints }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p><b>No api are available</b></p>
{% endif %}



<!--BOOKS LIST END -->
<!--PAGINATION START -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
            href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
    </span>
</div>
<!--PAGINATION END -->
{% endblock content %}