<!DOCTYPE html>
{%extends 'core/base.html' %}
{% load static %}
{% block content %}

<div style="background-color: #f3f3f3;" class="table-responsive-sm table-bordered">
    <table class="table table-borderless table table-striped table-hover table-responsive-stack">
        {% if object_list %}
        <thead class="text-center">
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% if request.get_full_path == "/E1/" %}
              {% for player in player_list|dictsortreversed:"E1" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E1 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E2/" %}
              {% for player in player_list|dictsortreversed:"E2" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E2 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E3/" %}
              {% for player in player_list|dictsortreversed:"E3" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E3 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E4/" %}
              {% for player in player_list|dictsortreversed:"E4" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E4 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E5/" %}
              {% for player in player_list|dictsortreversed:"E5" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E5 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E6/" %}
              {% for player in player_list|dictsortreversed:"E6" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E6 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E7/" %}
              {% for player in player_list|dictsortreversed:"E7" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E7 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E8/" %}
              {% for player in player_list|dictsortreversed:"E8" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}" style="height: 40px; width: 40px;" /></a></td>
                  <td>{{ player.E8 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E9/" %}
              {% for player in player_list|dictsortreversed:"E9" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E9 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E10/" %}
              {% for player in player_list|dictsortreversed:"E10" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E10 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E11/" %}
              {% for player in player_list|dictsortreversed:"E11" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E11 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/E12/" %}
              {% for player in player_list|dictsortreversed:"E12" %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E12 }}</td>
                </tr>
              {% endfor %}
          {% endif %}
        </tbody>
      </table>
</div>
{% else %}
<p><b>No data are available</b></p>
{% endif %}



<!--BOOKS LIST END -->
<!--PAGINATION START -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
            href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
    </span>
</div>
<!--PAGINATION END -->
{% endblock content %}