<!DOCTYPE html>
{%extends 'core/base.html' %}
{% load static %}
{% block content %}

<div style="background-color: #f3f3f3;" class="table-responsive-sm table-bordered">
    <table class="table table-borderless table table-striped table-hover table-responsive-stack">
        {% if object_list %}
        <thead class="text-center">
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col">B: AK</th>
            <th scope="col">B: 47</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% if request.get_full_path == "/E1/" %}
              {% for player in player_list|dictsortreversed:"E1" %}
              {% if player.E1 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E1B_AK }}</td>
                  <td>{{ player.E1B_47 }}</td>
                  {% if player.E1_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e1 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e1 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E2/" %}
              {% for player in player_list|dictsortreversed:"E2" %}
              {% if player.E2 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E2B_AK }}</td>
                  <td>{{ player.E2B_47 }}</td>
                  {% if player.E2_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e2 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e2 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E3/" %}
              {% for player in player_list|dictsortreversed:"E3" %}
              {% if player.E3 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E3B_AK }}</td>
                  <td>{{ player.E3B_47 }}</td>
                  {% if player.E3_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e3 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e3 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E4/" %}
              {% for player in player_list|dictsortreversed:"E4" %}
              {% if player.E4 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E4B_AK }}</td>
                  <td>{{ player.E4B_47 }}</td>
                  {% if player.E4_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e4 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e4 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E5/" %}
              {% for player in player_list|dictsortreversed:"E5" %}
              {% if player.E5 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E5B_AK }}</td>
                  <td>{{ player.E5B_47 }}</td>
                  {% if player.E5_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e5 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e5 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E6/" %}
              {% for player in player_list|dictsortreversed:"E6" %}
              {% if player.E6 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E6B_AK }}</td>
                  <td>{{ player.E6B_47 }}</td>
                  {% if player.E6_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e6 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e6 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E7/" %}
              {% for player in player_list|dictsortreversed:"E7" %}
              {% if player.E7 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E7B_AK }}</td>
                  <td>{{ player.E7B_47 }}</td>
                  {% if player.E7_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e7 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e7 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E8/" %}
              {% for player in player_list|dictsortreversed:"E8" %}
              {% if player.E8 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}" style="height: 40px; width: 40px;" /></a></td>
                  <td>{{ player.E8B_AK }}</td>
                  <td>{{ player.E8B_47 }}</td>
                  {% if player.E8_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e8 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e8 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E9/" %}
              {% for player in player_list|dictsortreversed:"E9" %}
              {% if player.E9 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E9B_AK }}</td>
                  <td>{{ player.E9B_47 }}</td>
                  {% if player.E9_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e9 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e9 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E10/" %}
              {% for player in player_list|dictsortreversed:"E10" %}
              {% if player.E10 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E10B_AK }}</td>
                  <td>{{ player.E10B_47 }}</td>
                  {% if player.E10_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e10 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e10 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E11/" %}
              {% for player in player_list|dictsortreversed:"E11" %}
              {% if player.E11 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E11B_AK }}</td>
                  <td>{{ player.E11B_47 }}</td>
                  {% if player.E11_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e11 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e11 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% elif request.get_full_path == "/E12/" %}
              {% for player in player_list|dictsortreversed:"E12" %}
              {% if player.E12 > 0 %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 40px; width: 40px;"/></a></td>
                  <td>{{ player.E12B_AK }}</td>
                  <td>{{ player.E12B_47 }}</td>
                  {% if player.E12_JOCKER %}
                  <td class="table-warning"><img class="rounded-circle player-img" src="{{ player.jocker_image.url }}" style="height: 30px; width: 30px;" /><a>{{ player.total_e12 }}</a></td>
                  {% else %}
                  <td>{{ player.total_e12 }}</td>
                  {% endif %}
                </tr>
              {% endif %}
              {% endfor %}
          {% endif %}
        </tbody>
      </table>
</div>
{% else %}
<p><b>No data are available</b></p>
{% endif %}



<!--BOOKS LIST END -->
<!--PAGINATION START -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
            href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
    </span>
</div>
<!--PAGINATION END -->
{% endblock content %}