<!DOCTYPE html>
{%extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="table-responsive-sm card m-5 table-bordered">
    <table class="table table-borderless table table-striped table-hover table-responsive-stack">
        {% if object_list %}
        <thead class="text-center">
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% if request.get_full_path == "/single_event_list1/" %}
              {% for player in player_list|dictsortreversed:"S1E1" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E1 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list2/" %}
              {% for player in player_list|dictsortreversed:"S1E2" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E2 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list3/" %}
              {% for player in player_list|dictsortreversed:"S1E3" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E3 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list4/" %}
              {% for player in player_list|dictsortreversed:"S1E4" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E4 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list5/" %}
              {% for player in player_list|dictsortreversed:"S1E5" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E5 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list6/" %}
              {% for player in player_list|dictsortreversed:"S1E6" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E6 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list7/" %}
              {% for player in player_list|dictsortreversed:"S1E7" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E7 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list8/" %}
              {% for player in player_list|dictsortreversed:"S1E8" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}" style="height: 35px; width: 35px;" /></a></td>
                  <td>{{ player.S1E8 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list9/" %}
              {% for player in player_list|dictsortreversed:"S1E9" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E9 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list10/" %}
              {% for player in player_list|dictsortreversed:"S1E10" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E10 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list11/" %}
              {% for player in player_list|dictsortreversed:"S1E11" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E11 }}</td>
                </tr>
              {% endfor %}
          {% elif request.get_full_path == "/single_event_list12/" %}
              {% for player in player_list|dictsortreversed:"S1E12" %}
                <tr>
                  {% if forloop.counter == 1 and page_obj.number == 1 %}
                  <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                  {% else %}
                  <td>{{ forloop.counter }}</td>
                  {% endif %}
                  <td>{{ player.name }}</td>
                  <td><img class="rounded-circle player-img" src="{{ player.image.url }}"
                           style="height: 35px; width: 35px;"/></a></td>
                  <td>{{ player.S1E12 }}</td>
                </tr>
              {% endfor %}
          {% endif %}
        </tbody>
      </table>
</div>
{% else %}
<p><b>No data are available</b></p>
{% endif %}



<!--BOOKS LIST END -->
<!--PAGINATION START -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
            href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
    </span>
</div>
<!--PAGINATION END -->
{% endblock content %}