{%extends 'core/base.html' %}
{% load static %}
{% block content %}


<title> Turniej  </title>
<h1> Turniej </h1>

<!--<div class="table-responsive-sm table-bordered">-->
<div class="card m-3" style="background-color: white; margin-top: auto">
    <div class="card-body">
        <div class="responsiveWrap" style="overflow-x: auto;">
            <table class="table table-borderless table-striped table-hover table-responsive-stack">
                <thead class="text-center">
                    {% if object_list %}
                    <tr>
                        <th scope="col">Miejsce</th>
                        <th scope="col">Nick</th>
                        <th scope="col">Zdjęcie</th>
                        <th scope="col">Punkty</th>
                        <th scope="col">B: AKL</th>
                        <th scope="col">B: 47W</th>
                        <th scope="col">Suma</th>
                    </tr>
                </thead>
                <tbody>
                    {% for single in object_list %}
                    <tr>
                        {% if forloop.counter == 1 %}
                        <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
                        {% else %}
                        <td>{{ forloop.counter }}</td>
                        {% endif %}
                        <th>{{ single.name }}</th>
                        <td><img class="rounded-circle player-img" src="{{ single.image.url }}" style="height: 35px; width: 35px;" /></a></td>
                        <td>{{ single.points }}</td>
                        <td>{{ single.bonus_a }}</td>
                        <td>{{ single.bonus_b }}</td>
                        <td>{{ single.totalpoints }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<p><b>No api are available</b></p>
{% endif %}



<!--BOOKS LIST END -->
<!--PAGINATION START -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-3" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
            href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
    </span>
</div>
<!--PAGINATION END -->
{% endblock content %}